# Ignore JSON files
*.json

# Ignore PYC files
*.pyc

# Ignore NPY files
*.npy

# Ignore PT files
*.pt

# Ignore PNG files
*.png

# Ignore TensorFlow events files
events.out.tfevents.*

# Ignore MP4 files
*.mp4
